.imp-object-list {
  z-index: 1;
  overflow-y: auto;
  flex: 1;
}

.imp-object-list-artboard-container {
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.imp-object-list-artboard-container.imp-collapsed {
  height: 41px !important;
}
